* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;

}
/*navbar*/
.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-left,
.nav-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-left {
    justify-content: flex-start;
}
.nav-right {
    justify-content: flex-end;
}


.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.nav-btn {
    background: white;
    color: black !important;
    padding: 8px 18px;
    border-radius: 2px;
    font-size: 14px;
}

.nav-btn::after {
    display: none;
}

.logo-section {
    display: flex;
    align-items: center;
    gap:8px;
}

.logo-img {
    border-radius: 30%;
    width: 40px;
    height: auto;
}

.logo-text {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}
/* NAVBAR RESPONSIVE (GLOBAL) */
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        padding: 15px 20px;
        gap: 15px;
    }

    .nav-left,
    .nav-right {
        justify-content: center;
    }

    .navbar ul {
        gap: 25px;
        padding: 0;
    }

    .logo-section {
        order: -1;
    }
}

  /* MANIFESTO */
  .about-manifesto {
    padding: 160px 10%;
    background-color: #f4f1ec;
  }
  
  .manifesto-inner h1 {
    font-size: 64px;
    line-height: 1.05;
    max-width: 900px;
  }
  
  .manifesto-inner p {
    margin-top: 40px;
    font-size: 18px;
    max-width: 520px;
    color: #444;
  }
  @media (max-width: 768px) {
    .manifesto-inner h1 {
      font-size: 42px;
    }
  }
  
  /* ABOUT BREAK */
  .about-break {
    padding: 120px 20px;
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    background: #1c1c1c;
    color: #f4f1ec;
  }
  @media (max-width: 768px) {
    .about-break {
      font-size: 32px;
      padding: 80px 20px;
    }
  }