* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;

}
/*navbar*/
.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-left,
.nav-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-left {
    justify-content: flex-start;
}
.nav-right {
    justify-content: flex-end;
}


.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.nav-btn {
    background: white;
    color: black !important;
    padding: 8px 18px;
    border-radius: 2px;
    font-size: 14px;
}

.nav-btn::after {
    display: none;
}

.logo-section {
    display: flex;
    align-items: center;
    gap:8px;
}

.logo-img {
    border-radius: 30%;
    width: 40px;
    height: auto;
}

.logo-text {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}
/* NAVBAR RESPONSIVE (GLOBAL) */
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        padding: 15px 20px;
        gap: 15px;
    }

    .nav-left,
    .nav-right {
        justify-content: center;
    }

    .navbar ul {
        gap: 25px;
        padding: 0;
    }

    .logo-section {
        order: -1;
    }
}

.contact-section {
    background: #111;
    color: white;
    padding: 100px 60px;
}

.contact-wrapper {
    max-width: 1300px;
    margin: auto;
    display: flex;
    gap: 60px;
}

.contact-left {
    flex: 1;
}

.contact-left h1 {
    font-size: 64px;
    margin-bottom: 60px;
}

.contact-info {
    display: flex;
    gap: 80px;
}

.contact-info h4 {
    font-size: 12px;
    opacity: 0.6;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 15px;
    line-height: 1.7;
}
.contact-form {
    width: 420px;
    background: white;
    color: #111;
    padding: 50px;
    border-radius: 6px;
}

.contact-form h3 {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 12px 0;
    margin-bottom: 30px;
    font-size: 14px;
    outline: none;
}

.contact-form textarea {
    resize: none;
    height: 90px;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload {
    font-size: 13px;
    cursor: pointer;
    opacity: 0.7;
}

.contact-form button {
    background: #111;
    color: white;
    border: none;
    padding: 12px 26px;
    font-size: 13px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #000;
}
