* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
    color: #222;
}

/*navbar*/
.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-left,
.nav-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-left {
    justify-content: flex-start;
}
.nav-right {
    justify-content: flex-end;
}


.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.logo-section {
    display: flex;
    align-items: center;
    gap:8px;
}

.logo-img {
    border-radius: 30%;
    width: 40px;
    height: auto;
}

.logo-text {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}