* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background: #f6f5f7;
}

/* Navbar */
.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-left, .nav-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-left { justify-content: flex-start; }
.nav-right { justify-content: flex-end; }

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img {
    border-radius: 30%;
    width: 40px;
}

.logo-text {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}
